<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6" id="showpage-picture"><%= cl_image_tag @cocktail.photo, height: 300, width: 300, crop: :fill %></div>
    <div class="col-xs-12 col-sm-6" id="showpage-text">
      <h3>Description for <%= @cocktail.name %></h3>
      <% if Dose.all != [] %>
      <% @cocktail.doses.each do |dose| %>
      <h5><%= dose.ingredient.name %></h5>
      <p> <%= dose.description %>
      <%= link_to cocktail_dose_path(@cocktail, dose), method: :delete, :data => { :confirm => 'are you sure?'} do %>
      <i class="far fa-trash-alt"></i>
      <% end %>
      </p>
      <p><%= dose.instructions %></p>
      <% end %>
      <% end %>
      <div class="buttons"><%= link_to "Add dose", new_cocktail_dose_path(@cocktail.id), class: "button" %> <%= link_to "Edit cocktail", edit_cocktail_path(@cocktail.id), class: "button" %></div>
    </div>
  </div>
</div>



