<h2 style="text-align: center;">Add a dose and instructions <%= @cocktail.name %></h2>

<div class="container">
<%= simple_form_for [@cocktail, @dose] do |f| %>
<div class="form-group">
  <%= f.association :ingredient%>
  <%= f.input :description %>
  <%= f.input :instructions %>
  <%= f.submit "add a dose", class: "button" %> <%= link_to "back to details", cocktail_path(@cocktail.id), class: "button" %>
<% end %>
</div>
</div>
